<h2><%= @min_tobus2_url %></h2>
<%= image_tag @min_tobus2_url, height: 400 %>

<hr>

<h2><%= @min_xmas3_url %></h2>
<%= image_tag @min_xmas3_url, height: 400 %>

<hr>

<h2>iframe (www.nintendo.co.jp)</h2>
<iframe id="my_inline_frame" width="800" height="600" src="https://www.nintendo.co.jp/"></iframe>

<%= render 'shared/basic_info' %>
