<table border="1">
  <tr>
    <th>名前</th>
    <th>値</th>
  </tr>
  <% @cookies.each do |k ,v| %>
    <tr>
      <td><%= k %></td>
      <td><%= v %></td>
    </tr>
  <% end %>
</table>

<hr>

<h2><%= @min_tobus2_url %></h2>
<%= image_tag @min_tobus2_url %>

<hr>

<h2><%= @min_xmas3_url %></h2>
<%= image_tag @min_xmas3_url %>
