<h2>■<%= link_to "1分間有効なクッキーを食べる (domain: .www.neo-kobe-city.com)", eat_cookies_path %></h2>
<h2>■<%= link_to "1分間有効なクッキーを食べる (domain: .neo-kobe-city.com)", eat_cookies_path(domain: '.neo-kobe-city.com') %></h2>
<h2>■<%= link_to "クッキーを捨てる（たまにうまくいかないので自分で捨てる方がいい）", discard_cookies_path %></h2>

<hr>

<%= image_tag @min_tobus2_url, height: 400 %>
<p><%= @min_tobus2_url %></p>
<p><%= link_to 'Cookies 付き 直接ダウンロードリンク', direct_image_link_path %></p>

<hr>

<%= image_tag @min_xmas3_url, height: 400 %>
<p><%= @min_xmas3_url %></p>

<%= render 'shared/basic_info' %>
