<!DOCTYPE html>
<html>
  <head>
    <title>FreePlayground</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag('favicon.png') %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>

  <script>
    const currentCookies = document.cookie;

    console.log('document.coookie による Cookies の Key 一覧（HttpOnly属性 が付与されているものは含まれない）')
    console.log(Object.keys(currentCookies));
  </script>
  </body>
</html>
